{
  "env": {
    "node": true,
    "commonjs": true,
    "es2021": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "globals": {
    "ethers": "readonly"
  }
}