name: ERC721A CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci

      - name: Run Coverage
        run: npm run coverage

      - name: Codecov
        uses: codecov/codecov-action@v3.1.0

      - name: Upload Coverage Artifacts
        uses: actions/upload-artifact@v3.0.0
        with:
          # Artifact name
          name: coverage
          path: coverage/
